body {
    font-family: Arial, sans-serif;
    background-color: #2a2a2a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cont-ger {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    height: 92%;
    width: 95%;
    display: flex;
    /* Adiciona flexbox para melhor controle de layout */
    flex-direction: column;
    /* Para empilhar elementos verticalmente */
    align-items: center;
    /* Alinha os itens ao centro horizontalmente */
}

.cont-1 {
    background-color: #ffffff;
    padding: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    border: solid 1px rgb(89, 89, 89);
}

.tit-1,
.tit-ger-2 {
    background-color: rgb(89, 89, 89);
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 25px;
    border-radius: 10px 10px 0 0;
    border: solid 1px rgb(89, 89, 89);
}

.tit-2,
.tit-3 {
    color: white;
    font-size: 14px;
    background-color: rgb(139, 139, 139);
    text-align: center;
    display: flex;
    /* Torna o elemento flexível */
    justify-content: center;
    /* Alinha horizontalmente ao centro */
    align-items: center;
    /* Alinha verticalmente ao centro */
    padding: 5px;
    height: 20px;
    border-radius: 10px 10px 0 0;
    border: solid 1px rgb(89, 89, 89);
}

.text-1,
.text-2 {
    padding: 10px 80px 5px 80px;
    color: #000000;
    font-size: 14px;
}

.text-3,
.text-4 {
    padding: 30px 40px 5px 40px;
    color: #000000;
    font-size: 14px;
}

.cont-ger2 {
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    padding: 10px 80px 0px 80px;
    border: solid 1px rgb(89, 89, 89);
}


.tit-ger-2 {
    color: white;
    font-size: 14px;
    background-color: rgb(89, 89, 89);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 25px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    /* Defina um espaçamento igual entre os containers */
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}

.cont-2,
.cont-3 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    border: solid 1px rgb(89, 89, 89);
    flex-grow: 1;
    width: 250px;
    /* Garante que ambos ocupem metade da largura com o espaçamento */
    height: 180px;
    /* Certifique-se de que ambos tenham a mesma altura */
}

.campo-nome {
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    font-size: 14px;
}

.campo-select {
    border-radius: 5px;
    padding: 10px;
    width: 130px;
    font-size: 14px;
    margin-right: 20px;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: rgb(24, 122, 29);
    color: rgb(255, 255, 255);
    padding: 15px 50px;
    margin-bottom: 30px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.botao:hover {
    background-color: rgb(89, 89, 89);
    /* Cor ao passar o mouse */
}

.tela-simulado {
    background-color: #ffffff;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 50%;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 30px;
    height: 100%;
}

.tela-resultado {
    background-color: #ffffff;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 50%;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    height: 250px;
}

.result {
    color: white;
    font-size: 14px;
    background-color: rgb(89, 89, 89);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 25px;
    width: 98%;
    border-radius: 10px 10px 0 0;
}

.parabens {
    font-size: 16px;
    padding-left: 20px;
}

.pontos {
    font-size: 14px;
    padding-left: 20px;
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

#perguntasContainer {
    padding: 20px 0px 0px 50px;
    width: 100%;
    font-size: 14px;
}

.question {
    margin-bottom: 20px;
}

.option {
    margin: 5px 0;
}

.botaof {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: rgb(24, 122, 29);
    color: rgb(255, 255, 255);
    padding: 15px 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.botaof:hover {
    background-color: rgb(89, 89, 89);
    /* Cor ao passar o mouse */
}

.botaoi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: rgb(24, 122, 29);
    color: rgb(255, 255, 255);
    padding: 15px 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.botaoi:hover {
    background-color: rgb(89, 89, 89);
    /* Cor ao passar o mouse */
}
