body {
    font-family: Arial, sans-serif;
    background-color: #2a2a2a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cont-ger {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    height: 92%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-1 {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    border: solid 1px rgb(89, 89, 89);
}

.tit-1,
.tit-ger-2 {
    background-color: rgb(89, 89, 89);
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 25px;
    border-radius: 10px 10px 0 0;
    border: solid 1px rgb(89, 89, 89);
}

.tit-2,
.tit-3 {
    color: white;
    font-size: 14px;
    background-color: rgb(139, 139, 139);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 20px;
    border-radius: 10px 10px 0 0;
    border: solid 1px rgb(89, 89, 89);
}

.text-1,
.text-2 {
    padding: 20px;
    color: #000000;
    font-size: 14px;
    margin-top: -20px;
}

.text-3,
.text-4 {
    padding: 30px 40px 5px 40px;
    color: #000000;
    font-size: 14px;
}

.cont-ger2 {
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    border: solid 1px rgb(89, 89, 89);
}

.tit-ger-2 {
    color: rgb(255, 255, 255);
    font-size: 14px;
    background-color: rgb(89, 89, 89);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 25px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}

.cont-2,
.cont-3 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    border: solid 1px rgb(89, 89, 89);
    flex-grow: 1;
    width: 250px;
    height: 180px;
}

.campo-nome {
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    font-size: 14px;
    margin-bottom: 20px;
}

.campo-select {
    border-radius: 5px;
    padding: 10px;
    width: 130px;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: rgb(24, 122, 29);
    color: rgb(255, 255, 255);
    padding: 15px 50px;
    margin-bottom: 30px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.botao:hover {
    background-color: rgb(89, 89, 89);
}

.tela-simulado {
    background-color: #ffffff;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 60%;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    height: 100%;
}

#simuladoTitle {
    font-size: 13px;
}

.tela-resultado {
    background-color: #ffffff;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 50%;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0px;
    height: 200px;
    padding: 0;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}


.pontos {
    display: flex;
    gap: 40px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.hidden {
    display: none;
}

#perguntasContainer {
    padding: 10px 0px 0px 20px;
    width: 100%;
    font-size: 12px;
}

.question {
    margin-bottom: 20px;
}

.option {
    margin: 5px 0;
}

.botaof {
    width: 55%;
    background-color: rgb(24, 122, 29);
    color: rgb(255, 255, 255);
    padding: 15px 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.botaof:hover {
    background-color: rgb(89, 89, 89);
}

.botaoi {
    width: 50%;
    background-color: rgb(24, 122, 29);
    color: rgb(255, 255, 255);
    padding: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.botaoi:hover {
    background-color: rgb(89, 89, 89);
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    body {
        padding: 10px;
        /* Ajuste o padding conforme necessário */
    }

    .cont-ger,
    {
    width: 100%;
    /* Use a largura total da tela */
    padding: 10px;
    /* Ajuste o padding */
}

.cont-ger2 {
    width: 100%;
    /* Use a largura total da tela */
    padding: 0px;
    /* Ajuste o padding */
}

.tit-ger-2 {
    width: 100%;
    padding: 0px;
}

.cont-2,
.cont-3 {
    width: 100%;
    /* Torne as colunas responsivas */
    height: auto;
    /* Permita que a altura se ajuste ao conteúdo */
    margin: 10px;
    /* Espaçamento entre elementos */
}

.campo-nome,
.campo-select,
.botao {
    width: 100%;
    /* Use a largura total */
    padding: 10px;
    /* Ajuste o padding para se adequar melhor ao espaço */
}

.tela-simulado,
.tela-resultado {
    width: 100%;
    /* Diminua a largura para caber melhor na tela */
    margin: 0;
    /* Centralize e dê margem */

}

.tit-result {
    margin: 0;
    padding: 0;
    width: 100%;
}

.tit-1,
.tit-2,
.tit-3,
.tit-ger-2 {
    font-size: 12px;
    /* Diminua o tamanho da fonte se necessário */
}

.text-1,
.text-2,
.text-3,
.text-4,
.parabens,
.pontos {
    font-size: 12px;
    /* Ajuste o tamanho da fonte para melhor legibilidade */
}

.botao,
.botaof,
.botaoi {
    padding: 10px;
    /* Reduza o padding para caber melhor na tela */
    width: 60%;
}
}
